{% extends "base.html" %}

{% block main %}
<h1>The Turing Team</h1>
<p class="lead">This is Jamaal Henry's, from the Turing Team, attempt at assignment 1 of scrum cycle 7..<br>
    The Turing Team is a dynamic and innovative computer science internship dedicated to pushing the boundaries of technology and problem-solving. Named after the legendary mathematician and computer scientist Alan Turing, our team is inspired by his pioneering spirit and groundbreaking contributions to the world of computation.</p>
{% endblock %}
