{% extends "base.html" %}
<!DOCTYPE html>
<html>
{% block main %}    
<head>
    <title>Products</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/products.css') }}">
    <!-- Bootstrap -->
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Application CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    {% block css %} {% endblock%}
</head>
<body>
    <h1>Products</h1>
    <ul>
        {% for product in products %}
            <li>
                <a href="{{ url_for('display_product', product_id=product.id) }}">
                    <img src="{{ url_for('static', filename='images/' + product.image) }}" alt="{{ product.title }}">
                    <h3>{{ product.title }}</h3>
                    <p>Price: ${{ product.price }}</p>
                </a>
            </li>
        {% endfor %}
    </ul>
</body>
</html>
{% endblock %}